

.form1{
    margin:5vh 40vw;;
    width:70vw;
    color:white;
}

.form1 input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 40px 0;
    display: block;
    border: 3px solid #2b77fc;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: transparent;
    color:white;

  }
  
 .form1 input[type=submit] {
    width: 200px;
    background-color: #2b77fc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  
 .form1 input[type=submit]:hover {
    background-color: #5b8ed1;
  }

 .form1 textarea{
      height:20vh;
      width:30%;
      margin:40px 0;
      display: block;
      border: 3px solid #2b77fc;
      border-radius: 20px;
      padding:14px 20px;
      background-color: transparent;
      color: white;

  }
  

 


  @media screen and (max-width: 800px) {

    .form1{
        margin:5vh 3vw;;
        width:80vw;
    }
    
    .form1 input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 20px 0;
        display: block;
        border: 3px solid #2b77fc;
        border-radius: 40px;
        box-sizing: border-box;
        font-size: 15px;
      }
      
     .form1 input[type=submit] {
        width: 200px;
        background-color: #2b77fc;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 40px;
        cursor: pointer;
      }
      
     .form1 input[type=submit]:hover {
        background-color: #5b8ed1;
      }
    
     .form1 textarea{
          height:20vh;
          width:100%;
          margin:20px 0;
          display: block;
          border: 3px solid #2b77fc;
          border-radius: 20px;
          padding:14px 20px;
    
      }
      


  }

