body{
    background-color: black;
    color:white;
}
th, td { 
    /* width:200px;  */
    text-align:center; 
    border:1px solid black; 
    padding:2vh 5vw; 
  
} 
th{
    color:rgb(38, 168, 255);
}
td a{
    color:white;
    text-decoration: none;
}
td p{
    margin:3vh 0;
}
img .img-thumbnail{
    width:30vw;
}
.headimage img{
    width:30vw;
}